*

!.gitignore
!README.md
!Dockerfile

!root
!root/root
!root/root/*.py
!root/root/*.sh

!root/root/fx
!root/root/fx/filter
!root/root/fx/filter/FX*
!root/root/fx/FujiXerox/
!root/root/fx/FujiXerox/dlut/
!root/root/fx/FujiXerox/dlut/*.dlut
!root/root/fx/model
!root/root/fx/model/
!root/root/fx/model/FujiXerox
!root/root/fx/model/FujiXerox/en
!root/root/fx/model/FujiXerox/en/*.ppd
